<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>00_00.png</string>
		<key>menuID</key>
		<string>0</string>
		<key>name</key>
		<string>시세</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>00_01.png</string>
		<key>menuID</key>
		<string>1</string>
		<key>name</key>
		<string>관심종목</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>00_02.png</string>
		<key>menuID</key>
		<string>2</string>
		<key>name</key>
		<string>주문</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>00_03.png</string>
		<key>menuID</key>
		<string>3</string>
		<key>name</key>
		<string>거래내역</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>1</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>01_00.png</string>
		<key>menuID</key>
		<string>4</string>
		<key>name</key>
		<string>시세</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>1</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>01_01.png</string>
		<key>menuID</key>
		<string>5</string>
		<key>name</key>
		<string>주문</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>1</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>01_02.png</string>
		<key>menuID</key>
		<string>6</string>
		<key>name</key>
		<string>거래내역</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>2</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>02_00.png</string>
		<key>menuID</key>
		<string>7</string>
		<key>name</key>
		<string>시세</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>2</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>02_01.png</string>
		<key>menuID</key>
		<string>8</string>
		<key>name</key>
		<string>주문</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>2</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>02_02.png</string>
		<key>menuID</key>
		<string>9</string>
		<key>name</key>
		<string>거래내역</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>3</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>03_00.png</string>
		<key>menuID</key>
		<string>10</string>
		<key>name</key>
		<string>계좌이체</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>3</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>03_01.png</string>
		<key>menuID</key>
		<string>11</string>
		<key>name</key>
		<string>지로요금납부</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>3</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>03_02.png</string>
		<key>menuID</key>
		<string>12</string>
		<key>name</key>
		<string>입출금거래내역</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>3</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>03_03.png</string>
		<key>menuID</key>
		<string>13</string>
		<key>name</key>
		<string>CMA거래내역</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>4</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>04_00.png</string>
		<key>menuID</key>
		<string>14</string>
		<key>name</key>
		<string>잔고/자산평가</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>4</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>04_01.png</string>
		<key>menuID</key>
		<string>15</string>
		<key>name</key>
		<string>평가손익</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>4</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>04_02.png</string>
		<key>menuID</key>
		<string>16</string>
		<key>name</key>
		<string>거래내역</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>5</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>05_00.png</string>
		<key>menuID</key>
		<string>17</string>
		<key>name</key>
		<string>지수정보</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>5</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>05_01.png</string>
		<key>menuID</key>
		<string>18</string>
		<key>name</key>
		<string>매매동향</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>6</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>06_00.png</string>
		<key>menuID</key>
		<string>19</string>
		<key>name</key>
		<string>QnA자산관리란?</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>6</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>06_01.png</string>
		<key>menuID</key>
		<string>20</string>
		<key>name</key>
		<string>Choice&amp;Care변경/해지</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>6</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>06_02.png</string>
		<key>menuID</key>
		<string>21</string>
		<key>name</key>
		<string>종합투자현황</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>6</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>06_03.png</string>
		<key>menuID</key>
		<string>22</string>
		<key>name</key>
		<string>펀드분석보고서</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>7</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>07_00.png</string>
		<key>menuID</key>
		<string>23</string>
		<key>name</key>
		<string>서비스개요</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>7</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>07_01.png</string>
		<key>menuID</key>
		<string>24</string>
		<key>name</key>
		<string>수익률안내</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>7</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>07_02.png</string>
		<key>menuID</key>
		<string>25</string>
		<key>name</key>
		<string>이용가이드</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>7</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>07_03.png</string>
		<key>menuID</key>
		<string>26</string>
		<key>name</key>
		<string>주요서비스</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>8</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>08_00.png</string>
		<key>menuID</key>
		<string>27</string>
		<key>name</key>
		<string>추천펀드</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>8</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>08_01.png</string>
		<key>menuID</key>
		<string>28</string>
		<key>name</key>
		<string>펀드검색</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>8</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>08_02.png</string>
		<key>menuID</key>
		<string>29</string>
		<key>name</key>
		<string>펀드큐레이터</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>8</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>08_03.png</string>
		<key>menuID</key>
		<string>30</string>
		<key>name</key>
		<string>펀드매매</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>9</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>09_00.png</string>
		<key>menuID</key>
		<string>31</string>
		<key>name</key>
		<string>신탁</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>10</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>10_00.png</string>
		<key>menuID</key>
		<string>32</string>
		<key>name</key>
		<string>WRAP</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>11</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>11_00.png</string>
		<key>menuID</key>
		<string>33</string>
		<key>name</key>
		<string>퇴직연금상품</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>11</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>11_01.png</string>
		<key>menuID</key>
		<string>34</string>
		<key>name</key>
		<string>자산현황</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>11</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>11_02.png</string>
		<key>menuID</key>
		<string>35</string>
		<key>name</key>
		<string>납입내역</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>11</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>11_03.png</string>
		<key>menuID</key>
		<string>36</string>
		<key>name</key>
		<string>투자상품변경</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>11</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>11_04.png</string>
		<key>menuID</key>
		<string>37</string>
		<key>name</key>
		<string>퇴직연금계산기</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>11</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>11_05.png</string>
		<key>menuID</key>
		<string>38</string>
		<key>name</key>
		<string>공지사항</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>11</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>11_06.png</string>
		<key>menuID</key>
		<string>39</string>
		<key>name</key>
		<string>퇴직연금상담센터</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>12</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>12_00.png</string>
		<key>menuID</key>
		<string>40</string>
		<key>name</key>
		<string>나의자산현황</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>13</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>13_00.png</string>
		<key>menuID</key>
		<string>41</string>
		<key>name</key>
		<string>Hyundai Daily</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>13</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>13_01.png</string>
		<key>menuID</key>
		<string>42</string>
		<key>name</key>
		<string>추천종목</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>13</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>13_02.png</string>
		<key>menuID</key>
		<string>43</string>
		<key>name</key>
		<string>종합시항</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>13</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>13_03.png</string>
		<key>menuID</key>
		<string>44</string>
		<key>name</key>
		<string>애널리스트리포트</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>13</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>13_04.png</string>
		<key>menuID</key>
		<string>45</string>
		<key>name</key>
		<string>Market Preview</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>14</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>14_00.png</string>
		<key>menuID</key>
		<string>46</string>
		<key>name</key>
		<string>자유토론방</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>14</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>14_01.png</string>
		<key>menuID</key>
		<string>47</string>
		<key>name</key>
		<string>First Twitter</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>15</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>15_00.png</string>
		<key>menuID</key>
		<string>48</string>
		<key>name</key>
		<string>업무시간안내</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>15</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>15_01.png</string>
		<key>menuID</key>
		<string>49</string>
		<key>name</key>
		<string>예탁금이용률안내</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>15</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>15_02.png</string>
		<key>menuID</key>
		<string>50</string>
		<key>name</key>
		<string>증거금안내</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>15</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>15_03.png</string>
		<key>menuID</key>
		<string>51</string>
		<key>name</key>
		<string>기타서비스안내</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>16</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>16_00.png</string>
		<key>menuID</key>
		<string>52</string>
		<key>name</key>
		<string>현대증권CF</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>16</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>16_01.png</string>
		<key>menuID</key>
		<string>53</string>
		<key>name</key>
		<string>클릭UCC</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>17</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>17_00.png</string>
		<key>menuID</key>
		<string>54</string>
		<key>name</key>
		<string>법률상담</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>17</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>17_01.png</string>
		<key>menuID</key>
		<string>55</string>
		<key>name</key>
		<string>세무상담</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>17</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>17_02.png</string>
		<key>menuID</key>
		<string>56</string>
		<key>name</key>
		<string>예규/판례</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>17</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>17_03.png</string>
		<key>menuID</key>
		<string>57</string>
		<key>name</key>
		<string>세무계산기</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>17</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>17_04.png</string>
		<key>menuID</key>
		<string>58</string>
		<key>name</key>
		<string>세무일지</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>17</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>17_05.png</string>
		<key>menuID</key>
		<string>59</string>
		<key>name</key>
		<string>용어사전</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>18</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>18_00.png</string>
		<key>menuID</key>
		<string>60</string>
		<key>name</key>
		<string>전화상담안내</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>18</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>18_01.png</string>
		<key>menuID</key>
		<string>61</string>
		<key>name</key>
		<string>1:1상담</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>18</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>18_02.png</string>
		<key>menuID</key>
		<string>62</string>
		<key>name</key>
		<string>자주묻는질문</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>18</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>18_03.png</string>
		<key>menuID</key>
		<string>63</string>
		<key>name</key>
		<string>공지사항</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>18</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>18_04.png</string>
		<key>menuID</key>
		<string>64</string>
		<key>name</key>
		<string>이벤트</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>18</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>18_05.png</string>
		<key>menuID</key>
		<string>65</string>
		<key>name</key>
		<string>스마트폰 금융거래 10계명</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>19</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>19_00.png</string>
		<key>menuID</key>
		<string>66</string>
		<key>name</key>
		<string>지점안내</string>
		<key>target</key>
		<string></string>
	</dict>
</array>
</plist>
