<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>icon</key>
		<string>menu_stock.png</string>
		<key>name</key>
		<string>주식</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title00.png</string>
		<key>headerIcon</key>
		<string>icon_stock.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>1</string>
		<key>icon</key>
		<string>menu_futureoption.png</string>
		<key>name</key>
		<string>선물/옵션</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title01.png</string>
		<key>headerIcon</key>
		<string>icon_futureoption.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>2</string>
		<key>icon</key>
		<string>menu_elw.png</string>
		<key>name</key>
		<string>ELW</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title02.png</string>
		<key>headerIcon</key>
		<string>icon_elw.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>3</string>
		<key>icon</key>
		<string>menu_banking.png</string>
		<key>name</key>
		<string>이체/지로</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title03.png</string>
		<key>headerIcon</key>
		<string>icon_banking.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>4</string>
		<key>icon</key>
		<string>menu_account.png</string>
		<key>name</key>
		<string>계좌정보</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title04.png</string>
		<key>headerIcon</key>
		<string>icon_account.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>5</string>
		<key>icon</key>
		<string>menu_investment.png</string>
		<key>name</key>
		<string>투자정보</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title05.png</string>
		<key>headerIcon</key>
		<string>icon_investment.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>6</string>
		<key>icon</key>
		<string>menu_qna.png</string>
		<key>name</key>
		<string>QnA자산관리</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title06.png</string>
		<key>headerIcon</key>
		<string>icon_qna.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>7</string>
		<key>icon</key>
		<string>menu_cma.png</string>
		<key>name</key>
		<string>현대CMAPro</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title07.png</string>
		<key>headerIcon</key>
		<string>icon_cma.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>8</string>
		<key>icon</key>
		<string>menu_fund.png</string>
		<key>name</key>
		<string>펀드</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title08.png</string>
		<key>headerIcon</key>
		<string>icon_fund.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>9</string>
		<key>icon</key>
		<string>menu_stock.png</string>
		<key>name</key>
		<string>신탁</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title09.png</string>
		<key>headerIcon</key>
		<string>icon_stock.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>10</string>
		<key>icon</key>
		<string>menu_stock.png</string>
		<key>name</key>
		<string>WRAP</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title10.png</string>
		<key>headerIcon</key>
		<string>icon_stock.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>11</string>
		<key>icon</key>
		<string>menu_pension.png</string>
		<key>name</key>
		<string>퇴직연금</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title11.png</string>
		<key>headerIcon</key>
		<string>icon_pension.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>12</string>
		<key>icon</key>
		<string>menu_asset.png</string>
		<key>name</key>
		<string>나의자산현황</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title12.png</string>
		<key>headerIcon</key>
		<string>icon_asset.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>13</string>
		<key>icon</key>
		<string>menu_research.png</string>
		<key>name</key>
		<string>리서치</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title13.png</string>
		<key>headerIcon</key>
		<string>icon_research.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>14</string>
		<key>icon</key>
		<string>menu_community.png</string>
		<key>name</key>
		<string>커뮤니티</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title14.png</string>
		<key>headerIcon</key>
		<string>icon_community.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>15</string>
		<key>icon</key>
		<string>menu_guide.png</string>
		<key>name</key>
		<string>업무안내가이드</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title15.png</string>
		<key>headerIcon</key>
		<string>icon_guide.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>16</string>
		<key>icon</key>
		<string>menu_promote.png</string>
		<key>name</key>
		<string>홍보센터</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title16.png</string>
		<key>headerIcon</key>
		<string>icon_promote.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>17</string>
		<key>icon</key>
		<string>menu_taxhelper.png</string>
		<key>name</key>
		<string>세무도우미</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title17.png</string>
		<key>headerIcon</key>
		<string>icon_taxhelper.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>18</string>
		<key>icon</key>
		<string>menu_customer.png</string>
		<key>name</key>
		<string>고객센터</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title18.png</string>
		<key>headerIcon</key>
		<string>icon_customer.png</string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>19</string>
		<key>icon</key>
		<string>menu_branch.png</string>
		<key>name</key>
		<string>지점안내</string>
		<key>target</key>
		<string></string>
		<key>titleIcon</key>
		<string>2depth_title19.png</string>
		<key>headerIcon</key>
		<string>icon_branch.png</string>
	</dict>
</array>
</plist>
