<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict/>
	<key>idx</key>
	<string>1</string>
	<key>groupID</key>
	<string>1</string>
	<key>name</key>
	<string></string>
	<key>iconForTotal</key>
	<string></string>
	<key>iconForAdd</key>
	<string></string>
	<key>iconForMyMenu</key>
	<string></string>
	<key>target</key>
	<string></string>
</dict>
</plist>
