<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>menuID</key>
		<string>0</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>depth_box.png</string>
		<key>name</key>
		<string>시세</string>
		<key>nameForTotal</key>
		<string>시세</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>menuID</key>
		<string>1</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>depth_box.png</string>
		<key>name</key>
		<string>관심종목</string>
		<key>nameForTotal</key>
		<string>관심\n종목</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>menuID</key>
		<string>2</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>depth_box.png</string>
		<key>name</key>
		<string>주문</string>
		<key>nameForTotal</key>
		<string>주문</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>menuID</key>
		<string>3</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string></string>
		<key>iconForTotal</key>
		<string>depth_box.png</string>
		<key>name</key>
		<string>거래내역</string>
		<key>nameForTotal</key>
		<string>거래\n내역</string>
		<key>target</key>
		<string></string>
	</dict>
</array>
</plist>
