<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupID</key>
		<string>8</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string>m_27.png</string>
		<key>iconForTotal</key>
		<string>08_03.png</string>
		<key>menuID</key>
		<string>30</string>
		<key>name</key>
		<string>펀드매매</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>8</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string>m_27.png</string>
		<key>iconForTotal</key>
		<string>08_03.png</string>
		<key>menuID</key>
		<string>30</string>
		<key>name</key>
		<string>펀드매매</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string>m_3.png</string>
		<key>iconForTotal</key>
		<string>00_03.png</string>
		<key>menuID</key>
		<string>3</string>
		<key>name</key>
		<string>거래내역</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>4</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string>m_15.png</string>
		<key>iconForTotal</key>
		<string>04_01.png</string>
		<key>menuID</key>
		<string>15</string>
		<key>name</key>
		<string>평가손익</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>3</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string>m_12.png</string>
		<key>iconForTotal</key>
		<string>03_02.png</string>
		<key>menuID</key>
		<string>12</string>
		<key>name</key>
		<string>입출금거래내역</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string>m_2.png</string>
		<key>iconForTotal</key>
		<string>00_02.png</string>
		<key>menuID</key>
		<string>2</string>
		<key>name</key>
		<string>주문</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>3</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string>m_10.png</string>
		<key>iconForTotal</key>
		<string>03_00.png</string>
		<key>menuID</key>
		<string>10</string>
		<key>name</key>
		<string>계좌이체</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>0</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string>m_0.png</string>
		<key>iconForTotal</key>
		<string>00_00.png</string>
		<key>menuID</key>
		<string>0</string>
		<key>name</key>
		<string>시세</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>100</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string>m_setup.png</string>
		<key>iconForTotal</key>
		<string></string>
		<key>menuID</key>
		<string>101</string>
		<key>name</key>
		<string>전체설정</string>
		<key>target</key>
		<string></string>
	</dict>
	<dict>
		<key>groupID</key>
		<string>100</string>
		<key>iconForAdd</key>
		<string></string>
		<key>iconForMyMenu</key>
		<string>m_edit.png</string>
		<key>iconForTotal</key>
		<string></string>
		<key>menuID</key>
		<string>100</string>
		<key>name</key>
		<string> 편집</string>
		<key>target</key>
		<string>MyMenuAddViewController</string>
	</dict>
</array>
</plist>
