<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>title</key>
			<string>15%</string>
			<key>value</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>50%</string>
			<key>value</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>-10%</string>
			<key>value</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>-45%</string>
			<key>value</key>
			<integer>-45</integer>
		</dict>
	</array>
</dict>
</plist>
